html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#089a9a;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
#kampanya h1{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.kampanya{
    text-align: center;
    color: antiquewhite;
    margin-top: 19px;
}
#odemeler h1{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.odeme-bilgisi{
    color: #9c0e26;
    text-align: center;
    margin-top: 20px;
}
.uyari{
    text-align: center;
    color: rgb(129, 0, 0);
    margin-top: 19px;
}
.odeme-bilgisi{
    color: #1ac0a2;
    text-align: center;
    margin-top: 20px;
}
